Repository stone-w4tch3r/Figma-Context-MCP: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm prettier --write {staged_files} && git add {staged_files}

lint:
  run: pnpm eslint {staged_files}

Fix changeset package name for fork
  .changeset/brave-dogs-travel.md
Due: format

Add sync-fork skill with cross-platform compatibility
  .claude/skills
  .opencode/commands
  skills/sync-fork/SKILL.md
Due: format

Revert "chore(main): release 0.10.0"
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: format

Revert "chore(main): release 0.11.0"
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: format

fix: configure pnpm npmrc for npm registry auth in release workflow
  .github/workflows/release.yml
Due: none

fix: write project-level .npmrc for pnpm publish auth
  .github/workflows/release.yml
Due: none

Revert "chore(main): release 0.14.0"
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: format

fix: use npm publish instead of pnpm publish for registry auth
  .github/workflows/release.yml
Due: none

feat: add node-level cache granularity via cacheType option
  package.json
  src/config.ts
  src/services/figma-file-cache.ts
  src/services/figma.ts
Due: format, lint

document cacheType option in README
  README.md
Due: format

style: format get figma data service
  src/services/get-figma-data.ts
Due: format, lint

feat: replace node cache mode with subtree seeding
  README.md
  src/config.ts
  src/services/figma-file-cache.test.ts
  src/services/figma-file-cache.ts
  src/services/figma.service-cache.test.ts
  src/services/figma.ts
  src/tests/config.test.ts
Due: format, lint

test: add mock Figma stdio verification path
  README.md
  package.json
  scripts/mock-figma-server.ts
  scripts/mock-mcp-stdio.ts
  src/dev/mock-figma-server.ts
  src/mcp/tools/download-figma-images-tool.ts
  src/mcp/tools/get-figma-data-tool.ts
  src/services/figma-file-cache.test.ts
  src/services/figma-file-cache.ts
  src/services/figma.service-cache.test.ts
  src/services/figma.ts
  src/tests/mock-figma-server.test.ts
Due: format, lint

fix: handle missing frame children in alignItems
  src/tests/layout-alignment.test.ts
  src/transformers/layout.ts
Due: format, lint

fix: clarify subtree caching README docs
  README.md
Due: format

chore: align server manifest version metadata
  server.json
Due: format

chore: keep release metadata in sync
  .github/workflows/release.yml
  release-please-config.json
  server.json
  src/tests/release-metadata.test.ts
Due: format, lint

fix: resolve duplicate imports and handle undefined children in convertAlignItems
  src/mcp/index.ts
  src/server.ts
  src/transformers/layout/flex.ts
Due: format, lint

feat: switch to npm OIDC trusted publishing, remove NPM_ACCESS_TOKEN
  .github/workflows/release.yml
Due: none

fix: use cache: pnpm instead of unsupported package-manager-cache in setup-node@v4
  .github/workflows/release.yml
Due: none

Path conditions:
  format: any of: *.{ts,js,json,md}
  lint: any of: *.{ts,js}
